node_modules
.vscode
.env
/public/media
/media
server.js
server.js.map
public/bundle.js
public/bundle.js.map
package-lock.json
.vs/slnx.sqlite
.vs/VSWorkspaceState.json
.vs/3/v16/.suo
public/css/styles.css
public/css/styles.css.map
.vs/*
