*, *:before, *:after {
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
}

body {
	font-family: "Segoe UI",Tahoma,Helvetica,Sans-Serif;
	font-weight: normal;
    padding: 0;
    margin: 0;
}
html, body{
    height: 100%;
    overflow: hidden;
}

#content{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
}

/*stealing this from bootstrap for now*/
button, input[type=submit], .btn{
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 0.875em;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: default;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;  
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-top-color: transparent;
    border-right-color: transparent;
    border-bottom-color: transparent;
    border-left-color: transparent;
    border-radius: 0.25em;
    color: #333;
    background-color: #fff;
    border-color: #ccc;
}
button, input[type=submit], .btn:hover{
    color: #333;
    background-color: #e6e6e6;
    border-color: #adadad;
}
button, input[type=submit], .btn:focus{
    color: #333;
    background-color: #e6e6e6;
    border-color: #8c8c8c;
}
button, input[type=submit], .btn:active{
    color: #333;
    background-color: #e6e6e6;
    border-color: #adadad;
}
button, input[type=submit], .btn:active:hover{
    color: #333;
    background-color: #d4d4d4;
    border-color: #8c8c8c;
}
.btn-primary{
    color: #fff !important;
    background-color: #337ab7 !important;
    border-color: #2e6da4 !important;
}
.btn-primary:hover{
    color: #fff !important;
    background-color: #286090 !important;    
    border-color: #204d74 !important;
}
.btn-primary:focus{
    color: #fff !important;
    background-color: #286090 !important;
    border-color: #122b40 !important;
}
.btn-primary:active{
    color: #fff !important;
    background-color: #286090 !important;
    border-color: #204d74 !important;
}
.btn-primary:active:hover{
    color: #fff !important;
    background-color: #204d74 !important;
    border-color: #122b40 !important;
}
.btn-danger{
    color: #fff !important;
    background-color: #d9534f !important;
    border-color: #d43f3a !important;
}
.btn-danger:hover{
    color: #fff !important;
    background-color: #c9302c !important;
    border-color: #ac2925 !important;
}
.btn-danger:focus{
    color: #fff !important;
    background-color: #c9302c !important;
    border-color: #761c19 !important;
}
.btn-danger:active{
    color: #fff !important;
    background-color: #c9302c !important;
    border-color: #ac2925 !important;
}
.btn-danger:active:hover{
    color: #fff !important;
    background-color: #ac2925 !important;
    border-color: #761c19 !important;
}
.btn-xs{
    padding: 1px 5px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 3px;
}

.expand_close {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 30px;
    height: 30px;
    cursor: pointer;
    z-index: 2;
}
.expand_close::before, .expand_close::after{
    content: '';
    position: absolute;
    width: 100%;
    top: 50%;
    height: 2px;
    background: #454545;
    transform: rotate(45deg);
}
.expand_close::after{
    transform: rotate(-45deg);
}
.expand_close:hover::before, .expand_close:hover::after{
    background: #fff;
}

.headerBtn{
    padding: 0em 0.5em;
    cursor: default;
    color: #1f1f1f;
    fill: #1f1f1f;
    stroke: #1f1f1f;
    border: 0px solid transparent;
    height: 2em;
}
.headerBtn:hover{
    background: #333333;
    color: #f5f5f5;
    fill: #f5f5f5;
    stroke: #f5f5f5;
}

.tile-bg{
    background: #f5f5f5;
    border: 2px solid #f5f5f5;
}
.tile-bg:hover{
    background: #ebebeb;
    border: 2px solid #1f1f1f;
}

.tile_deleteBtn{
    background: #fce7e6;
    color: #e30f01;
    border: 2px solid #f7bcb8;
}
.tile_deleteBtn:hover{
    background: #e30f01;
    color: #fef3f2;
    border: 2px solid #e30f01;
}
.tile_infoBtn{
    background: #ebebeb;
    color: #1f1f1f;
    border: 2px solid #c6c6c6;
}
.tile_infoBtn:hover{
    background: #ffc801;
    color: #1f1f1f;
    border: 2px solid #1f1f1f;
}

.bad_input{
    background: #fce7e6;
    border: 2px solid #e30f01;
}

.downloadLink{
    text-decoration: none;
    color: #f5f5f5;
    fill: #f5f5f5;
    border-radius: 0.2em;
    padding: 0.25em;
}
.downloadLink:hover{
    background: #ebebeb;
    color: #1f1f1f;
    fill: #1f1f1f;
}

/*svg classes for header logo*/
.st0{stroke-width:120;stroke-miterlimit:10;fill-opacity:0;} 
.st1{fill-rule:evenodd;clip-rule:evenodd;} 
.st2{display:none;fill-rule:evenodd;clip-rule:evenodd;stroke-miterlimit:10;} 
.st3{stroke-width:40;stroke-linecap:round;stroke-miterlimit:10;}

.tag {
    background: #006cb7;
    color: #f5f5f5;
    border-radius: 1em;
    padding: 0.25em 1em;
    font-size: 0.75em;
    height: 2em;
    margin: 0 0.25em;
    cursor: default;
}
.tag:hover {
    background: #4091c9;
    color: #f2f8fb;
}

.video_badge {
    position: absolute;
    top: 1em;
    right: 1em;
    background: rgba(51, 51, 51, 0.75);
    color: #f5f5f5;
    border-radius: 1em;
    padding: 0.25em 1em;
    font-size: 0.75em;
    height: 2em;
    margin: 0 0.25em;
    cursor: default;    
}
.warning_badge {
    position: absolute;
    top: 1em;
    left: 1em;
    background: rgba(227, 15, 1, 0.75);
    color: #f5f5f5;
    border-radius: 1em;
    font-size: 0.75em;
    height: 2em;
    width: 2em;
    text-align: center;
    line-height: 2em;
    margin: 0 0.25em;
    cursor: default;
}