.container{
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    padding: 16px;
    max-width: 300px;
}
.section{
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    min-width: 200px;
    margin-bottom: 16px;
}
.sectionHeader{
    color: #006cb7;
    font-size: 14px;
    width: 100%;
    text-align: center;
    cursor: default;
}