.container{
    width: 100%;
    overflow: hidden;
}
.header{
    height: 24px;
    font-size: 12px;
    display: flex;
    flex-flow: row nowrap;
    /*padding-right: 96px;*/
    align-items: center;
    padding-bottom: 1px;
    background: #f5f5f5;
}