.container{
    flex: 1 1 auto;
    margin-top: 16px;
    margin-bottom: 16px;
    display: flex;
    flex-flow: column;
    align-items: baseline;
    justify-content: flex-start;
    padding: 0px 16px;
    min-height: 320px;
}