.container{
    display: flex;
    flex-flow: row nowrap;
    align-items: baseline;
    justify-content: space-between;
    padding: 0px 2px;
    cursor:default;
}
.header{
    color: #1f1f1f;
    font-size: 13px;
}
.value{
    color: #4091c9;
    font-size: 12px;
}