.thumb{
    flex: 1 1 auto;
    object-fit: cover;
    height: 100%;
}
.tiny{
    position: fixed;
    top: 0;
    left: 0;
    height: 1px;
    width: 1px;
    object-fit: contain;
    z-index: -1;
}