.container{
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: flex-end;
    height: 40px;
    min-height: 40px;
    width: 100%;
    background: #f5f5f5;
    color: #1f1f1f;
    border-bottom: 1px solid #ebebeb;
    z-index: 300;    
}
.button{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    min-width: 40px;
    padding: 0px 4px;
}
.button:hover{
    background: #e6f1f8;
    color: #006cb7;
}
.button:active{
    background: #4091c9;
    color: #b8d6eb;
}
.spacer{
    flex: 1;
}
